.embla {
    max-width: 100%;
    --slide-height: 19rem;
    --slide-spacing: 14rem;
    --slide-size: 20%;
}

.embla__viewport {
    overflow: hidden;
    width: 100%;
}

.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -2);
}

.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    height: 115px;
}
@media (max-width:599px) {
    .embla {
    --slide-spacing: 2rem;
}
    .embla__slide {
        height: 62px;
    }
}
@media (min-width: 1650px) {
    .embla__slide {
        height: 100px;
    }
}
